<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Urban population prospects</title>
    <meta name="description" content="Urban population prospects">
    <meta name="author" content="deciob">
    <link rel="stylesheet" href="static/css/vendor/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="static/css/vendor/jquery-ui-1.9.2.custom.min.css" media="screen" />
    <link rel="stylesheet" href="static/css/vendor/bootstrap-responsive.min.css" media="screen" />
    <link rel="stylesheet" href="static/css/main.css" media="screen" />
    
    
    {% if config.DEBUG %}
    <script src="static/js/vendor/require-2.1.1.js"></script>
    {% else %}
    <script src="static/dist/app-rjs.min.js"></script>
    {% endif %}

    
    <script>
    {% if config.DEBUG %}
        requirejs.config({

            // The path where your JavaScripts are located
            baseUrl: 'static/js/',
            // Specify the paths of vendor libraries
            paths: {
                jquery: 'vendor/jquery-1.8.3.min',
                jquery_ui: 'vendor/jquery-ui-1.9.2.custom',
                laconic: 'vendor/laconic',
                bootstrap: 'vendor/bootstrap',
                underscore: 'vendor/miso-0.4.0/lib/lodash',
                deferred: 'vendor/miso-0.4.0/lib/underscore.deferred',
                math: 'vendor/miso-0.4.0/lib/underscore.math',
                moment: 'vendor/miso-0.4.0/lib/moment',
                miso: 'vendor/miso-0.4.0/miso.ds.0.4.0',
                backbone: 'vendor/backbone',
                text: 'vendor/text-2.0.3',
                d3: 'vendor/d3',
                projection: 'vendor/projection',
                topojson: 'vendor/topojson'

            },
            // Underscore and asevented do not AMD-capable per default,
            // so we need to use the AMD wrapping of RequireJS
            shim: {
                jquery_ui: {
                    deps: ['jquery'],
                    exports: 'jQuery'
                },
                laconic: {
                    exports: 'laconic'
                },
                bootstrap: {
                    exports: 'bootstrap'
                },
                underscore: {
                    exports: '_'
                },
                deferred: {
                    deps: ['underscore'],
                    exports: '_deferred'
                },
                math: {
                    deps: ['underscore'],
                    exports: '_math'
                },
                moment: {
                    exports: 'moment'
                },
                miso: {
                    deps: ['underscore', 'deferred', 'math', 'moment'],
                    exports: 'Miso'
                },
                backbone: {
                    deps: ['jquery', 'underscore'],
                    exports: 'Backbone'
                },
                d3: {
                    exports: 'd3'
                },
                projection: {
                    exports: 'projection'
                },
                topojson: {
                    exports: 'topojson'
                }
            }

        });
    {% endif %}


        // Bootstrap the application
        require(['jquery', 'backbone', 'router'], function ($, Backbone, Router) {

            $(document).ready(function() {

                var mainRoute = new Router();
                Backbone.history.start();
    
            });
    
        });

    </script>

</head>
<body>

    <header id="top" class="row">
        <section id="app_title" class="span7"></section>
        <section id="country_picker" class="span5"></section>
    </header>
    <div class="row-fluid">
        <article id="map" class="span7">
            <section id="map_title"></section>
            <section id="map_viz"></section>
            <section id="map_legend"></section>
            <section id="navigation"></section>
        </article>
        <section id="timeline" class="span5"></section>
    </div>

    <article id="extra_info"></article>

</body>
</html>



