<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Urban population prospects</title>
    <meta name="description" content="Urban population prospects">
    <meta name="author" content="deciob">
    <link rel="stylesheet" href="static/css/vendor/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="static/css/vendor/jquery-ui-1.9.2.custom.min.css" media="screen" />
    <link rel="stylesheet" href="static/css/vendor/bootstrap-responsive.min.css" media="screen" />
    <link rel="stylesheet" href="static/css/main.css" media="screen" />
    
    {% if config.DEBUG %}
    <script data-main="static/js/app" src="static/js/vendor/require-2.1.1.js"></script>
    {% else %}
    <script src="static/dist/app-rjs.min.js"></script>
    {% endif %}


</head>
<body>

    <header id="top" class="row-fluid">
        <section id="app_title" class="span7"></section>
        <section id="country_picker" class="span5"></section>
    </header>
    <div class="row-fluid">
        <article id="map" class="span7">
            <section id="map_title"></section>
            <section id="map_viz"></section>
            <section id="map_legend"></section>
            <section id="navigation"></section>
        </article>
        <section id="timeline" class="span5"></section>
    </div>

    {#<article id="extra_info"></article>#}

</body>
</html>



